:host {
    ::ng-deep {

        .quran-container {
            direction: rtl;
            height: auto;
            width: auto;
            max-height: 1728px;
            max-width: 1080px;
            margin: auto 25px;
            text-align: justify;
            text-align-last: justify;
            align-content: center;
            overflow: hidden;
            align-self: center;
            position: relative;
        }

        .page-number {
            position: absolute;
            bottom: 0%;
            right: 50%;
            transform: translateX(50%);
            font-family: auto;
        }

        .quran {
            cursor: pointer;
            font-family: 'QPCHafs';
        }

        .quran-line {
            display: flex;
            justify-content: space-between;
        }

        .surah-name {
            margin-bottom: 25px;
            filter: contrast(0.5);
        }

        .surah-name-container {
            position: relative;
            font-family: 'surahnames';

            &::after {
                direction: rtl;
                display: block;
                position: absolute;
                right: 50%;
                transform: translateX(50%);
                top: 6%;
            }
        }

        .quran-word {}

        .verse-separator {
            display: inline-flex;
        }

        .verse-word:hover {
            background-color: #f7f7f7;
            color: #2ca4ab;
        }

        .manual-hover {
            background-color: #f7f7f7;
            color: #2ca4ab;
        }

        // Page 1 - Alfatiha
        .page-1_line-2 {
            width: 45%;
            place-self: center;
        }

        .page-1_line-3 {
            width: 60%;
            place-self: center;
        }

        .page-1_line-4,
        .page-1_line-5,
        .page-1_line-6 {
            width: 75%;
            justify-self: center;
        }

        .page-1_line-7 {
            width: 60%;
            place-self: center;
        }

        .page-1_line-8 {
            width: 35%;
            place-self: center;
        }

        // Page 2 - Albaqara

        .page-2_line-10,
        .page-2_line-11,
        .page-2_line-12,
        .page-2_line-13 {
            width: 80%;
            justify-self: center;
        }

        .page-2_line-14 {
            width: 60%;
            place-self: center;
        }

        .page-2_line-15 {
            width: 35%;
            place-self: center;
        }
    }
}