<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col size="8" class="ion-align-self-center">
          اعدادات الدورة
        </ion-col>
        <ion-col size="4" style="display: flex;" class="ion-justify-content-end ion-align-self-center">
          <ion-icon name="settings" id="open-action-sheet"></ion-icon>
          <ion-action-sheet trigger="open-action-sheet" header="الاعدادات" dir="rtl"
            [buttons]="actionSheetButtons"></ion-action-sheet>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">اعدادات الدورة</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-row>
      <ion-input label="وقت الدورة" placeholder="الساعة السادسة والنصف الى صلاة المغرب"
        [(ngModel)]="courseTimeInputValue" (ionInput)="onCourseTimeInput($event)"></ion-input>
    </ion-row>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="floating">اضافة طالب</ion-label>
      <ion-input [(ngModel)]="studentInputValue" placeholder="ادخل اسم الطالب"></ion-input>
    </ion-item>
    <ion-button #addStudentsButton class="add-students-btn" [disabled]="this.isStudentsAddButtonDisabled"
      style="margin-top: 20px;" expand="full">اضافة طالب</ion-button>
    <ion-title>اسماء الطلاب المضافين</ion-title>
    <ion-item *ngFor="let student of students">
      {{ student }}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="floating">اضافة مادة</ion-label>
      <ion-input [(ngModel)]="subjectInputValue" placeholder="ادخل اسم المادة"></ion-input>
    </ion-item>
    <ion-button #addSubjectsButton class="add-subjects-btn" [disabled]="this.isSubjectsAddButtonDisabled"
      style="margin-top: 20px;" expand="full">اضافة مادة</ion-button>
    <ion-title>اسماء المواد المضافة</ion-title>
    <ion-item *ngFor="let subject of subjects">
      {{ subject }}
    </ion-item>
  </ion-list>
</ion-content>