<ion-tabs dir="rtl">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="summary-tab" href="/tabs/summary-tab">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>ملخص اليوم</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="reminder-tab" href="/tabs/reminder-tab">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>رسائل تذكير</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings-tab" href="/tabs/settings-tab">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>اعدادات الدورة</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>