// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-light: #ffffff;
    --ion-color-dark: #ffffff;
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
}