/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


/* Extra Light */
@font-face {
    font-family: 'Tajawal';
    src: url('/assets/fonts/Tajawal/Tajawal-extralight.ttf') format('truetype');
    font-weight: 200;
    /* Extra Light */
}

/* Light */
@font-face {
    font-family: 'Tajawal';
    src: url('/assets/fonts/Tajawal/Tajawal-light.ttf') format('truetype');
    font-weight: 300;
    /* Light */
}

/* Regular */
@font-face {
    font-family: 'Tajawal';
    src: url('/assets/fonts/Tajawal/Tajawal-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Regular */
}

/* Medium */
@font-face {
    font-family: 'Tajawal';
    src: url('/assets/fonts/Tajawal/Tajawal-Medium.ttf') format('truetype');
    font-weight: 500;
    /* Medium */
}

/* Semi Bold */
@font-face {
    font-family: 'Tajawal';
    src: url('/assets/fonts/Tajawal/Tajawal-SemiBold.ttf') format('truetype');
    font-weight: 600;
    /* Semi Bold */
}

/* Bold */
@font-face {
    font-family: 'Tajawal';
    src: url('/assets/fonts/Tajawal/Tajawal-Bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
}

/* Extra Bold */
@font-face {
    font-family: 'Tajawal';
    src: url('/assets/fonts/Tajawal/Tajawal-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    /* Extra Bold */
}

/* Black */
@font-face {
    font-family: 'Tajawal';
    src: url('/assets/fonts/Tajawal/Tajawal-Black.ttf') format('truetype');
    font-weight: 900;
    /* Black */
}

html {
    font-family: 'Tajawal', sans-serif;
    --ion-dynamic-font: var(--ion-default-dynamic-font);
    --ion-font-family: 'Tajawal', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tajawal', sans-serif;
    font-weight: 700;
}

.actionSheetButtons-delete-student-files {
    color: red !important;

    ion-icon {
        color: red !important;
    }
}

.alertController-delete-students-files {
    color: gray !important;
}