<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="save-btn" [disabled]="quranicNoteForm.invalid">حفظ</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()" color="danger">الغاء</ion-button>
        </ion-buttons>
        <ion-title [innerHTML]="noteHeader"></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="popover-content ion-padding" [formGroup]="quranicNoteForm">
    <ion-textarea aria-label="Custom textarea" placeholder="اكتب هنا..." [counter]="true" [maxlength]="100"
        formControlName="note" autoGrow="true" autofocus="true" rows="7" fill="outline" inputmode="text">
    </ion-textarea>
</ion-content>